layout: "layouts/base.liquid"
title: Différentes salades
link: batavia.liquid
---

<h1>{{ title }}</h1>
<main>
    <h2>La doucette</h2>
    <p>MIAM MIAM !</p> 
    <img src="./assets/img/téléchargement.jpeg">
</main>