---
layout: "layouts/base.liquid"
title: Différentes salades
link: index.liquid
---

    <h1>{{ title }}</h1>
<main>
    <h2>La doucette</h2>
    <p>MIAM !</p> 
    <img src="./assets/img/doucette.jpeg">
</main>