---
layout: "layouts/base.liquid"
image: "/assets/img/Roquette.jpeg"
h2: "la roquette"
p: "MERDE MERDE !"
---

    <h1>{{ title }}</h1>
<main>
    <h2>{{h2}}</h2>
    <p>{{p}}</p> 
    <img src="{{image}}">
</main>